<mat-card fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="column">
        <mat-card-title fxFlex="100" fxLayoutAlign="center" *ngIf="title && title.length > 0">{{title}}</mat-card-title>
        <mat-card-title fxFlex="100" fxLayoutAlign="center" *ngIf="subtitle && subtitle.length > 0">{{subtitle}}</mat-card-title>
        <mat-divider></mat-divider>
    </div>
    <br/>
    <form [formGroup]="form" [fxLayoutGap]="formGap" [fxLayoutAlign]="formAlign">
        <mat-card-content fxFlex="100" fxLayout="row wrap">
            <div *ngFor="let ff of sortByOrder(formField.fields)" fxFlex="100" fxLayout="row wrap" [fxFlex]="ff.width" [fxLayoutAlign]="ff.align">
                <app-dynamic-form-field
                    [formField]="ff"
                    [form]="form"
                    [fxFlex]="ff.innerWidth"
                    (onFieldChange)="handleFieldChange($event)"
                ></app-dynamic-form-field>
            </div>
        </mat-card-content>

    </form>
    
    <mat-card-actions fxFlex="100" fxLayoutAlign="flex-end" fxLayoutGap="5">
        <button mat-raised-button *ngFor="let action of formActions" [ngStyle]="{'background-color' : action.color}" (click)="action.func(action.funcParams)">
            <mat-icon>{{action.icon}}</mat-icon> &nbsp; {{action.text}}
        </button> 
        <button mat-raised-button [disabled]="disabled" (click)="handleFormSubmit()" color="primary">Submit</button>
    </mat-card-actions>
    <br/>
    <app-dynamic-table
        [tableColumns]="columnSubject"
        [tableData]="dataSubject"
        [hasActions]="true"
    ></app-dynamic-table>
</mat-card>

