<mat-sidenav-container autosize>
    <!-- Side Navigator Configuration -->
    <mat-sidenav #sideNav mode="side">
        <mat-nav-list fxLayout="column">
            <div fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="10" fxLayout="row" style="padding:10px">
                <img class="sidemenu-user-photo" src="{{photo}}"/>
                <h1>{{userName}}</h1>
            </div>
            <mat-divider></mat-divider>
            <!-- Categorized Drawer Options -->
            <div *ngIf="isDrawerCategorized">
                <div *ngFor="let category of $any(drawerOptions)">
                    <h1 mat-subheader>{{category.title}}</h1>
                    <app-side-menu-option-tree *ngFor="let item of category.options" [item]="item"></app-side-menu-option-tree>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <!-- Plain Drawer Options -->
            <div *ngIf="!isDrawerCategorized">
                <app-side-menu-option-tree *ngFor="let item of $any(drawerOptions)" [item]="item"></app-side-menu-option-tree>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content fxLayout="column">
        <!-- Start of NavBar -->
        <mat-toolbar style="min-height:100px" class="mat-elevation-z10" color="primary">
            <!-- Navbar Left Side -->
            <div fxLayout="row">
                <button *ngIf="isDrawerEnabled" type="button" mat-button (click)="sideNav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <a fxLayout="column" fxLayoutAlign="flex-start" [routerLink]="['/']" >
                    <h3 style="margin-left:5px" >{{title}}</h3>
                    <div style="margin-left:5px">{{subTitle}}</div>
                </a>
            </div>
            
            <!-- Navbar Menu Items -->
            
            <div fxFlex fxHide.xs>
                <!-- NavBar Center Options when screen > xs  -->
                <ul fxLayoutAlign="center" fxLayoutGap="20px" class="menu-items">
                    <span *ngFor="let item of navbarOptions">
                        <!-- Item has children to display -->
                        <span *ngIf="item.subMenus && item.subMenus.length > 0">
                            <a [matMenuTriggerFor]="menu.menu" fxLayoutAlign="center center">
                                {{item.label}}
                                <mat-icon>expand_more</mat-icon>
                            </a>
                            <app-nav-menu-option-tree #menu [items]="item.subMenus"></app-nav-menu-option-tree>
                        </span>
                        <!-- Item Has no children to display -->
                        <span *ngIf="!item.subMenus || item.subMenus.length == 0">
                            <a [routerLink]="item.link">{{item.label}}</a>
                        </span>
                    </span>
                </ul>
            </div>
            <div fxFlex fxHide.xs>    
                <!-- Navbar Right Side -->
                <div fxLayoutAlign="flex-end">
                    <app-theme-selector fxLayoutAlign = "center center" *ngIf="isThemeSelectEnabled" (themeChanged)="emitThemeChanged($event)"></app-theme-selector>
                    <div *ngIf="isLoggedIn" fxLayout="column">
                        {{userName}}
                        <img class="navbar-user-photo" fxLayoutAlign="center center" src="{{photo}}"/>
                    </div>
                    <a *ngIf="!isLoggedIn" (click)="emitLoginSelected($event)" fxLayoutAlign="center center">Login</a>
                    &nbsp;&nbsp;
                    <a *ngIf="!isLoggedIn && hasRegister" (click)="emitRegisterSelected($event)" fxLayoutAlign="center center">Register</a>
                    <a *ngIf="isLoggedIn && hasLogout" (click)="emitLogoutSelected($event)" fxLayoutAlign="center center">Logout</a>
                </div>
            </div>


            
            <!-- NavBar dropdown options when screen <= xs  -->
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
                <a mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </a>

                <mat-menu #menu="matMenu">
                    <!-- Display Username or Login Option -->
                    <div *ngIf="isLoggedIn" mat-menu-item>Logged in as : <b>{{userName}}</b></div>
                    <button *ngIf="!isLoggedIn" mat-menu-item (click)="emitLoginSelected($event)">Login</button>
                    <button *ngIf="!isLoggedIn && hasRegister" mat-menu-item (click)="emitRegisterSelected($event)">Register</button>
                    <button *ngIf="isLoggedIn && hasLogout" mat-menu-item (click)="emitLogoutSelected($event)">Logout</button>
                    <!-- Theme Select Option -->
                    <app-theme-selector *ngIf="isThemeSelectEnabled" (themeChanged)="emitThemeChanged($event)"></app-theme-selector>

                    <!-- Display NavBar Menu options -->
                    <span *ngFor="let item of navbarOptions">
                        <span *ngIf="item.subMenus && item.subMenus.length > 0">
                            <button #menuTrigger mat-menu-item [matMenuTriggerFor]="miniNavMenu.menu">
                                <mat-icon>{{item.icon}}</mat-icon>
                                {{item.label}}
                            </button>
                            <app-nav-menu-option-tree #miniNavMenu [items]="item.subMenus"></app-nav-menu-option-tree>
                        </span>
                        <span *ngIf="!item.subMenus || item.subMenus.length == 0">
                            <button mat-menu-item [routerLink]="item.link" fxLayoutAlign="center center">
                                <mat-icon>{{item.icon}}</mat-icon>
                                {{item.label}}
                            </button>
                        </span>
                    </span>
                </mat-menu>
            </div>
        </mat-toolbar>

        <!-- Main Content -->
        <div class="content" [fxHide]="isLoading" style="width:100%; height:100%" fxLayout="column">
            <br/><br/>
            <router-outlet></router-outlet>
        </div>

        <div fxFlex="100" *ngIf="isLoading" class="content" style="width:100%; height:100%" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
