<app-dynamic-crud
    [title]="'Bank Accounts'"
    [hasCreate]="true"
    [hasUpdate]="true"
    [hasDelete]="true"
    [hasInfo]="false"

    [endpoint]="'admin/bankAccount'"

    [identifierKey]="'_id'"

    [createFormFields]="formFields"
    [updateFormFields]="formFields"

    [tableColumns]="tableColumns"

    [infoFields]="infoFields"
    
    [isPaginated]="true"
    [pageSize]="10"

    [beforeCreateActions]="beforeCreateUpdateActions"
    [beforeUpdateActions]="beforeCreateUpdateActions"

    [hasFilters]="true"
    [filterFields]="filterFields"
></app-dynamic-crud>