<app-dynamic-crud
    [title]="'Vessels Info'"
    [hasCreate]="true"
    [hasUpdate]="true"
    [hasDelete]="true"
    [hasInfo]="true"

    [endpoint]="'admin/vessel'"

    [identifierKey]="'_id'"

    [createFormFields]="formFields"
    [updateFormFields]="formFields"

    [tableColumns]="tableColumns"

    [infoFields]="infoFields"

    [isPaginated]="true"
    [pageSize]="10"

    [hasFilters]="true"
    
    [beforeCreateActions]="beforeCreateUpdateActions"
    [beforeUpdateActions]="beforeCreateUpdateActions"
    
    [filterFields]="filterFields"
></app-dynamic-crud>