<app-dynamic-crud
    [title]="'Documents (PROFORMA, D/N, C/N, D/A)'"
    [hasCreate]="true"
    [hasUpdate]="true"
    [hasDelete]="true"
    [hasInfo]="true"

    [endpoint]="'/invoice'"

    [identifierKey]="'_id'"

    [createFormFields]="formFields"
    [updateFormFields]="formFields"

    [tableColumns]="tableColumns"

    [infoFields]="infoFields"

    [isPaginated]="true"
    [pageSize]="10"

    [hasFilters]="true"
    [filterFields]="filterFields"

    (onFormChange)="onFormChange($event)"
></app-dynamic-crud>