<div fxLayout="column" fxLayoutAlign="center">
    <app-dynamic-form fxFlex="90"
        [title]="'Test Dynamic Form'"
        [subtitle]="'Test Dynamic Form Subtitle'"
        [formFields]="formData"
        [formAlign]="'center'"
        [formGap]="'0'"
        [enabled]="enabledSubject"
        (onFormChange)="handleFormChanges($event)"
        (onSubFormChange)="handleSubFormChanges($event)"
        (onFormSubmit)="handleFormSubmit($event)"
    >
    </app-dynamic-form>

    <br/>
    <br/>

    <app-dynamic-table
        [tableColumns]="columnSubject"
        [tableData]="dataSubject"
        [hasActions]="true"
    >
    </app-dynamic-table>
</div>
